.login-form {
    max-width: 500px;
    align-items: center;
    
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
  /*#3a5998*/
  .login-color{
    color: #4071a8;
    background-color: #ffffff;
  }

  .login-colorG{
    color: #ffffff;
    background-color: #e9544e;
  }